.row
  .col-md-6.col-md-offset-3
    %h2
      Log In
      
    = simple_form_for :user, url: sessions_path do |f|
      = f.input :email, label: "Email"
      = f.input :password, label: "Password"
      .text-center
        = f.button :submit, value: "Log In", class: "ac-login-submit"
    
    .login-button-wrapper
      %a.login-button.is-facebook{ href: auth_at_provider_path(provider: :facebook) }
      %a.login-button.is-twitter{ href: auth_at_provider_path(provider: :twitter) }