.row
  .container
    %h2
      Settings

    - if current_user.email
      %h3
        Email:
        %strong
          #{current_user.email}

    %h3
      Language:
      %strong
        #{current_user.locale}

    .btn-group
      %a.btn.btn-default{ href: edit_user_path(current_user) }
        Change Information

