.row
  .container
    %h2
      Settings

    - if current_user.email
      %h3
        Email:
        %strong
          #{current_user.email}

    .btn-group
      %a.btn.btn-default{ href: edit_user_path(current_user, change: "email") }
        = current_user.email ? "Change Email" : "Set Email"

      %a.btn.btn-default{ href: edit_user_path(current_user, change: "password") }
        = current_user.crypted_password ? "Change Password" : "Set Password"
