.row
  .col-md-12
    %a.btn.btn-default{ href: new_deck_path }
      %span.glyphicon.glyphicon-plus
      Add Deck

.row.grid
  - @decks.each do |deck|
    .col-sm-6.col-md-4.element.ac-deck
      .thumbnail
        .caption
          %h3
            = deck.name
          - if deck.current?
            %p
              Current deck

          .buttons
            = link_to "Edit", edit_deck_path(deck), class: "btn btn-sm btn-default"
            - if !deck.current?
              = link_to "Make current", deck_current_path(id: deck.id), class: "btn btn-sm btn-default"
            = link_to "Delete", deck_path(deck), class: "btn btn-sm btn-danger", method: :delete
